NET "clk" TNM_NET = "clk";
TIMESPEC "TS_clk" = PERIOD "clk" 50 ns HIGH 50 %;
NET "clk" LOC = "p77";
NET "data_in<0>" LOC = "p110";
NET "data_in<1>" LOC = "p111";
NET "data_in<2>" LOC = "p112";
NET "data_in<3>" LOC = "p113";
NET "data_in<4>" LOC = "p114";
NET "data_in<5>" LOC = "p115";
NET "data_in<6>" LOC = "p121";
NET "data_in<7>" LOC = "p122";
NET "data_out<0>" LOC = "p83";
NET "data_out<1>" LOC = "p84";
NET "data_out<2>" LOC = "p86";
NET "data_out<3>" LOC = "p87";
NET "data_out<4>" LOC = "p88";
NET "data_out<5>" LOC = "p89";
NET "data_out<6>" LOC = "p93";
NET "data_out<7>" LOC = "p94";
NET "rd" LOC = "p73";
NET "td" LOC = "p71";
NET "reset" LOC = "p109";
NET "start_tx" LOC = "p101";
