NET "Clk" TNM_NET = "Clk";
TIMESPEC "TS_Clk" = PERIOD "Clk" 20 MHz HIGH 50 %;
NET "Clk" LOC = "p77";
NET "Reset" LOC = "p109";
NET "RS232_RX" LOC = "p73";
NET "RS232_TX" LOC = "p71";
NET "switches<0>" LOC = "p83";
NET "switches<1>" LOC = "p84";
NET "switches<2>" LOC = "p86";
NET "switches<3>" LOC = "p87";
NET "switches<4>" LOC = "p88";
NET "switches<5>" LOC = "p89";
NET "switches<6>" LOC = "p93";
NET "switches<7>" LOC = "p94";
NET "Temp_H<0>" LOC = "p153";
NET "Temp_H<1>" LOC = "p145";
NET "Temp_H<2>" LOC = "p141";
NET "Temp_H<3>" LOC = "p135";
NET "Temp_H<4>" LOC = "p126";
NET "Temp_H<5>" LOC = "p120";
NET "Temp_H<6>" LOC = "p116";
NET "Temp_L<0>" LOC = "p127";
NET "Temp_L<1>" LOC = "p129";
NET "Temp_L<2>" LOC = "p132";
NET "Temp_L<3>" LOC = "p133";
NET "Temp_L<4>" LOC = "p134";
NET "Temp_L<5>" LOC = "p136";
NET "Temp_L<6>" LOC = "p138";
